body { background: #b7f0e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-helper-0 { color: #732703; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #b11321; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #e289b0; font-size: 20px; margin-bottom: 5px; }
.block-cache-3 { color: #cc0e6e; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #7150f4; font-size: 20px; margin-bottom: 5px; }
.block-uploader-5 { color: #d9641c; font-size: 16px; margin-bottom: 5px; }
.block-router-6 { color: #669faa; font-size: 20px; margin-bottom: 5px; }
.block-cart-7 { color: #db9add; font-size: 17px; margin-bottom: 5px; }
.block-config-8 { color: #3ed56f; font-size: 19px; margin-bottom: 5px; }